# Build & dist
build/
dist/
*.egg-info/
*.egg
__pycache__/
*.pyc

# Docs build
docs/_build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Markdown rendering cache (e.g. VS Code / Jupyter image preview)
*_files/

# Environments
.venv/
venv/

# Linter
.ruff_cache

# PyTest
.pytest_cache
pytest-cache*

# Added from developer
warnings_sphinx_build.txt
pytest-output.txt